In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [4]:
GoogleId='1GQeKWGd61sccrDyK-uHOQRGtGNxxeRxDM1FR6aB-2_g'
Gname='rooms'
url='https://docs.google.com/spreadsheets/d/{0}/gviz/tq?tqx=out:csv&sheet={1}'.format(GoogleId,Gname)
data=pd.read_csv(url)

In [5]:
data

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30   59500
4  4000       5.0    8  760000

### price=m1*area+ m2*bedrooms+ m3*age+c

#### data precessing for NAN coloumn

In [9]:
import math
median_bedroom=math.floor(data.bedrooms.median())
median_bedroom

3

In [19]:
data.bedrooms=data.bedrooms.fillna(median_bedroom)

In [22]:
rg=linear_model.LinearRegression()
rg.fit(data[['area','bedrooms','age']],data.price)

LinearRegression()

In [23]:
rg.coef_

array([ 3.375000e+00, -1.732875e+05, -4.698750e+04])

In [24]:
rg.intercept_

1976837.4999999981

In [27]:
yp= 3.375000e+00*2600+(-1.732875e+05*3.0)+(-4.698750e+04*20)+1976837.4999999981
yp

525999.9999999981

## Save the model

In [34]:
import joblib

In [37]:
joblib.dump(rg,'model_joblib')

['model_joblib']

## loading the model

In [41]:
load_model=joblib.load('model_joblib')

In [45]:
load_model.predict([[2600,3.0,20]])

array([526000.])